@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.login-component {
  width: 500px;

  .twelve input {
    width: 100%;
  }

  .txt2center {
    text-align: center;
  }
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

@include media-breakpoint-down(xs) {
  .container {
    /*width: 100%;*/
  }
}
